## cc1 CC vs CT basecalling features comparison

In [1]:
# import basic modules
import os
from glob import glob
import numpy as np
import pandas as pd
from scipy.stats import mannwhitneyu, chi2_contingency
from tqdm import tqdm

In [2]:
# define paths
df_CC_filepath = "/lustre/bio_running/C_to_U_editing_minimap2_spliced/cc1.basecalling_features/cc1.CCcontext_reads_features_forward/CCcontext_reads_features_forward_chr*"
df_CT_filepath = "/lustre/bio_running/C_to_U_editing_minimap2_spliced/cc1.basecalling_features/cc1.CTcontext_reads_features_forward_rev/CTcontext_reads_features_forward_rev_chr*"

In [3]:
# load into dataframes CC and CT (CU) read-basecaling features
cols = ["region", "position", "read_name", "strand"] + [f"pos{i}" for i in range(-3,4)] + ["ins"]
df_CC = pd.concat([pd.read_table(tsv, names=cols, index_col=False) for tsv in glob(df_CC_filepath)], axis=0)
df_CT = pd.concat([pd.read_table(tsv, names=cols, index_col=False) for tsv in glob(df_CT_filepath)], axis=0)
# drop erroneous minus strand reads
df_CT = df_CT.query("strand == '+'")
print("df_CC")
print(df_CC)
print("\n\ndf_CT")
print(df_CT)

df_CC
        region  position                             read_name strand  pos-3  \
0         chr4        38  98c29af7-ab4e-475b-82b2-3207a8af75f7      +    7.0
1         chr4        38  f679d1d5-449a-4bce-a239-b7b149c72751      +   11.0
2         chr4        38  33ca07f3-1752-4fed-8ca8-b0b197c9bb5f      +    9.0
3         chr4        38  783175e2-5165-4130-adcd-1ab18431a89c      +    3.0
4         chr4        38  e1c1674f-d4a8-4810-8196-2276cd9c27cb      +   18.0
...        ...       ...                                   ...    ...    ...
2819393   chr2      2484  e8991292-3bc5-496b-833a-ef0da7caf0ed      +   18.0
2819394   chr2      2484  40ef1f45-a8a9-45cb-aae6-845226d68ec6      +   17.0
2819395   chr2      2484  afd9ce8d-9fb3-4e47-932a-7205cb5e4de9      +   17.0
2819396   chr2      2484  e1ee7b4d-00fc-43d4-bd91-e1ce4e7c141b      +   15.0
2819397   chr2      2484  af144a8c-7874-4576-9b33-5e2bdeaf509f      +    3.0

         pos-2  pos-1  pos0  pos1  pos2  pos3  ins
0         19.0   24.0  19.0   5.0  -1.0  -3.0  0.0
1         20.0   12.0  19.0   6.0  -0.0  19.0  0.0
2         13.0    7.0   6.0   4.0  -0.0  19.0  0.0
3          8.0    6.0   6.0  -5.0  -5.0   6.0  0.0
4         25.0   28.0  27.0   7.0  -6.0  -7.0  0.0
...        ...    ...   ...   ...   ...   ...  ...
2819393   18.0    5.0  17.0  25.0  30.0  30.0  0.0
2819394   25.0   28.0  26.0  26.0  25.0  25.0  0.0
2819395   23.0   18.0   8.0  22.0  23.0  25.0  0.0
2819396   28.0    7.0  20.0  26.0  28.0  24.0  0.0
2819397   20.0    8.0  16.0  21.0  24.0  28.0  0.0

[11992051 rows x 12 columns]


df_CT
      region  position                             read_name strand  pos-3  \
0       chr1        37  06587ab2-0a88-484e-9764-56b7986cd63c      +    6.0
1       chr1        37  2751a494-6eb8-4a1a-970c-d7dfa429b093      +    6.0
2       chr1        47  06155312-a4a5-4f99-9d8e-03db60ca6b59      +   33.0
3       chr1        47  32894544-05ba-484c-8648-6288e8d4da2c      +   12.0
4       chr1        47  14e46880-b504-406c-ba0a-de90e10e6804      +   11.0
...      ...       ...                                   ...    ...    ...
68136   chr2      2484  efeb7f47-9c5e-4956-85e9-b3b0b4acf18a      +    7.0
68137   chr2      2484  b9e918bf-6122-4fe6-9d37-6300d74b6a9f      +   13.0
68138   chr2      2484  c3602455-a606-47ba-b4e8-262f5ba058c2      +    8.0
68139   chr2      2484  ae5805d3-7d4f-44e1-af45-7724f7d87114      +    2.0
68140   chr2      2484  0927b93c-9ca3-4136-ba68-857b297b6084      +   10.0

       pos-2  pos-1  pos0  pos1  pos2  pos3  ins
0       -6.0    5.0   4.0  11.0   4.0  15.0  0.0
1        9.0    6.0   4.0  21.0  20.0  22.0  0.0
2       17.0   14.0   9.0  22.0  28.0  30.0  1.0
3        3.0   -4.0   5.0  22.0  21.0 -12.0  0.0
4       11.0    7.0  10.0   5.0   5.0   6.0  0.0
...      ...    ...   ...   ...   ...   ...  ...
68136   18.0    8.0   4.0  19.0  22.0  20.0  0.0
68137   19.0   -4.0   4.0  23.0  26.0  29.0  0.0
68138    9.0    8.0  16.0  19.0  25.0  22.0  0.0
68139    4.0    8.0   4.0  20.0  21.0  17.0  0.0
68140   22.0   17.0   5.0  18.0  27.0  27.0  0.0

[301547 rows x 12 columns]

In [4]:
df_CC.describe()

,position,pos-3,pos-2,pos-1,pos0,pos1,pos2,pos3,ins
count,1.199205e+07,1.199205e+07,1.199205e+07,1.199205e+07,1.199205e+07,1.199205e+07,1.199205e+07,1.199205e+07,1.199205e+07
mean,1.545599e+03,1.784095e+01,1.758903e+01,1.739471e+01,1.781812e+01,1.675765e+01,1.708225e+01,1.723462e+01,1.186838e-01
std,7.287768e+02,1.003632e+01,9.873188e+00,9.367261e+00,8.310150e+00,9.364448e+00,1.015135e+01,1.015237e+01,3.465052e-01
min,3.700000e+01,-5.000000e+01,-4.000000e+01,-4.200000e+01,1.000000e+00,-4.100000e+01,-4.400000e+01,-4.700000e+01,0.000000e+00
25%,9.790000e+02,1.100000e+01,1.000000e+01,1.000000e+01,1.100000e+01,1.000000e+01,9.000000e+00,1.000000e+01,0.000000e+00
50%,1.690000e+03,1.900000e+01,1.900000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,0.000000e+00
75%,2.147000e+03,2.500000e+01,2.500000e+01,2.500000e+01,2.400000e+01,2.400000e+01,2.500000e+01,2.500000e+01,0.000000e+00
max,2.733000e+03,9.000000e+01,9.000000e+01,5.200000e+01,4.900000e+01,5.100000e+01,9.000000e+01,9.000000e+01,5.000000e+00

In [5]:
df_CT.describe()

,position,pos-3,pos-2,pos-1,pos0,pos1,pos2,pos3,ins
count,301547.000000,301547.000000,301547.000000,301547.000000,301547.000000,301547.000000,301547.000000,301547.000000,301547.000000
mean,1593.263475,12.294793,9.326987,8.138811,7.186167,9.642815,11.954670,13.411067,0.198092
std,736.710384,10.232740,10.266306,9.543772,4.311163,9.253936,9.735651,10.056592,0.430267
min,37.000000,-37.000000,-39.000000,-36.000000,1.000000,-36.000000,-37.000000,-37.000000,0.000000
25%,1027.000000,5.000000,2.000000,3.000000,4.000000,4.000000,5.000000,6.000000,0.000000
50%,1711.000000,12.000000,8.000000,7.000000,6.000000,9.000000,12.000000,14.000000,0.000000
75%,2191.000000,20.000000,17.000000,15.000000,9.000000,16.000000,19.000000,21.000000,0.000000
max,2733.000000,47.000000,44.000000,43.000000,42.000000,43.000000,53.000000,57.000000,4.000000

In [6]:
# compute statistic testing for central base quality
mannwhitneyu(df_CC["pos0"], df_CT["pos0"])

MannwhitneyuResult(statistic=506290636830.5, pvalue=0.0)

In [7]:
# compute statistic testing for average base quality
mannwhitneyu(df_CC.iloc[:,4:-1].mean(axis=1), df_CT.iloc[:,4:-1].mean(axis=1))

MannwhitneyuResult(statistic=716411711671.0, pvalue=0.0)

In [8]:
#compute statistics testing for deletions (equal to 0)
CC_dels = []
with tqdm(total=df_CC.shape[0]) as pbar:
    for r in df_CC.itertuples():
        read = list(r)[5:-1]
        query = np.array(read) == 0
        #print(read)
        #print(query)
        #print(np.where(query)[0])
        #print(len(np.where(query)[0]))
        CC_dels.append(len(np.where(query)[0]))
        pbar.update(1)
        #print()
CT_dels = []
with tqdm(total=df_CT.shape[0]) as pbar:
    for r in df_CT.itertuples():
        read = list(r)[5:-1]
        query = np.array(read) == 0
        #print(read)
        #print(query)
        #print(np.where(query)[0])
        #print(len(np.where(query)[0]))
        CT_dels.append(len(np.where(query)[0]))
        #print()
        pbar.update(1)

# deletions chi2 test

del_dict = {"CC":[], "CT":[]}

print("CC deletetion count:")
total = np.unique(CC_dels, return_counts=True)[1].sum()
print("Total CC reads:", total)
for del_, count in zip(np.unique(CC_dels, return_counts=True)[0], np.unique(CC_dels, return_counts=True)[1]):
    print(del_,"=", count/total)
    del_dict["CC"].append(count)   
    
print()

print("CT deletion count:")
total = np.unique(CT_dels, return_counts=True)[1].sum()
print("Total CT reads:", total)
for del_, count in zip(np.unique(CT_dels, return_counts=True)[0], np.unique(CT_dels, return_counts=True)[1]):
    print(del_,"=", count/total)
    del_dict["CT"].append(count)

# make same lenghts of verctors    
del_dict["CT"].append(0)

del_dict = pd.DataFrame(del_dict).T
print("\n Contingency Table")
print(del_dict)
print()
chi2_stats, p, dof, ex = chi2_contingency(del_dict)
print(f"Results of chi2 test:\n\t-chi2 statistics: {chi2_stats}\n\t-p_value: {p}")

100%|██████████| 11992051/11992051 [01:11<00:00, 167745.67it/s]
100%|██████████| 301547/301547 [00:01<00:00, 161282.64it/s]

CC deletetion count:
Total CC reads: 11992051
0 = 0.8306963504408045
1 = 0.1163288915298976
2 = 0.0411786941199633
3 = 0.010784310373596643
4 = 0.0008763304959260096
5 = 0.00012541641125442179
6 = 1.0006628557533652e-05

CT deletion count:
Total CT reads: 301547
0 = 0.7058269523490533
1 = 0.21852314896185338
2 = 0.06465990376292916
3 = 0.009942065416004802
4 = 0.000908647739821653
5 = 0.00013928177033762564

 Contingency Table
          0        1       2       3      4     5    6
CC  9961753  1395022  493817  129326  10509  1504  120
CT   212840    65895   19498    2998    274    42    0

Results of chi2 test:
	-chi2 statistics: 35300.05887257856
	-p_value: 0.0

In [9]:
#compute statistics testing for mismatches (less than 0)
CC_mism = []
with tqdm(total=df_CC.shape[0]) as pbar:
    for r in df_CC.itertuples():
        read = list(r)[5:-1]
        query = np.array(read) < 0
        #print(read)
        #print(query)
        #print(np.where(query)[0])
        #print(len(np.where(query)[0]))
        CC_mism.append(len(np.where(query)[0]))
        pbar.update(1)
        #print()
CT_mism = []
with tqdm(total=df_CT.shape[0]) as pbar:
    for r in df_CT.itertuples():
        read = list(r)[5:-1]
        query = np.array(read) < 0
        #print(read)
        #print(query)
        #print(np.where(query)[0])
        #print(len(np.where(query)[0]))
        CT_mism.append(len(np.where(query)[0]))
        #print()
        pbar.update(1)

# mismatches chi2 test
mism_dict = {"CC":[], "CT":[]}

print("CC mismatches count:")
total = np.unique(CC_mism, return_counts=True)[1].sum()
print("Total CC reads:", total)
for mism_, count in zip(np.unique(CC_mism, return_counts=True)[0], np.unique(CC_mism, return_counts=True)[1]):
    print(mism_,"=", count/total)
    mism_dict["CC"].append(count)   
    
print()

print("CT mismatches count:")
total = np.unique(CT_mism, return_counts=True)[1].sum()
print("Total CT reads:", total)
for mism_, count in zip(np.unique(CT_mism, return_counts=True)[0], np.unique(CT_mism, return_counts=True)[1]):
    print(mism_,"=", count/total)
    mism_dict["CT"].append(count)

mism_dict = pd.DataFrame(mism_dict).T
print("\n Contingency Table")
print(mism_dict)
print()
chi2_stats, p, dof, ex = chi2_contingency(mism_dict)
print(f"Results of chi2 test:\n\t-chi2 statistics: {chi2_stats}\n\t-p_value: {p}")

100%|██████████| 11992051/11992051 [01:12<00:00, 165678.38it/s]
100%|██████████| 301547/301547 [00:01<00:00, 162974.00it/s]

CC mismatches count:
Total CC reads: 11992051
0 = 0.8830663745509422
1 = 0.09215112577489873
2 = 0.020824878079654597
3 = 0.0034848917837324075
4 = 0.00042911758797556815
5 = 4.2444782798205246e-05
6 = 1.1674399983789262e-06

CT mismatches count:
Total CT reads: 301547
0 = 0.5654707226402518
1 = 0.2977346814924373
2 = 0.11043717894722879
3 = 0.02339602118409402
4 = 0.0027425243826003907
5 = 0.00019897395762517948
6 = 1.9897395762517948e-05

 Contingency Table
           0        1       2      3     4    5   6
CC  10589777  1105081  249733  41791  5146  509  14
CT    170516    89781   33302   7055   827   60   6

Results of chi2 test:
	-chi2 statistics: 297217.4081919344
	-p_value: 0.0

In [10]:
#compute statistics testing for insertions
CC_ins = df_CC["ins"].values

CT_ins = df_CT["ins"].values


# insertions chi2 test
ins_dict = {"CC":[], "CT":[]}

print("CC insertions count:")
total = np.unique(CC_ins, return_counts=True)[1].sum()
print("Total CC reads:", total)
for ins_, count in zip(np.unique(CC_ins, return_counts=True)[0], np.unique(CC_ins, return_counts=True)[1]):
    print(ins_,"=", count/total)
    ins_dict["CC"].append(count)   
    
print()

print("CT insertions count:")
total = np.unique(CT_ins, return_counts=True)[1].sum()
print("Total CT reads:", total)
for ins_, count in zip(np.unique(CT_ins, return_counts=True)[0], np.unique(CT_ins, return_counts=True)[1]):
    print(ins_,"=", count/total)
    ins_dict["CT"].append(count)

# makes vector of the same length
ins_dict["CT"].append(0)
    
ins_dict = pd.DataFrame(ins_dict).T
print("\n Contingency Table")
print(ins_dict)
print()
chi2_stats, p, dof, ex = chi2_contingency(ins_dict)
print(f"Results of chi2 test:\n\t-chi2 statistics: {chi2_stats}\n\t-p_value: {p}")

CC insertions count:
Total CC reads: 11992051
0.0 = 0.8887028582516869
1.0 = 0.10425055730666923
2.0 = 0.006713697264963266
3.0 = 0.0003257991481190332
4.0 = 7.004639990273557e-06
5.0 = 8.338857131278044e-08

CT insertions count:
Total CT reads: 301547
0.0 = 0.8146259123785016
1.0 = 0.1730708645750082
2.0 = 0.011895326433358647
3.0 = 0.0004012641478774453
4.0 = 6.63246525417265e-06

 Contingency Table
           0        1      2     3   4  5
CC  10657370  1250178  80511  3907  84  1
CT    245648    52189   3587   121   2  0

Results of chi2 test:
	-chi2 statistics: 16130.316103288373
	-p_value: 0.0